<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jackiedeng.movies.mapper.MovieMapper">
    <resultMap id="BaseResultMap" type="com.jackiedeng.movies.pojo.Movie">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="movieName" jdbcType="VARCHAR" property="movieName"/>
        <result column="MOVIE_ID" jdbcType="VARCHAR" property="movie_id"/>
        <result column="foreign" jdbcType="VARCHAR" property="foreign"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modifiedTime" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <!-- movieInfo-->
        <association property="movieInfo" javaType="com.jackiedeng.movies.pojo.MovieInfo">
            <id column="Info" property="id"></id>
            <result property="director" column="director" jdbcType="VARCHAR"/>
            <result property="actors" column="actors" jdbcType="VARCHAR"/>
            <result property="movieLength" column="movieLength" jdbcType="VARCHAR"/>
            <result property="introduce" column="introduce" jdbcType="VARCHAR"/>
            <result property="release" column="release" jdbcType="VARCHAR"/>
            <result property="poster" column="poster" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="VARCHAR"/>
        </association>

    </resultMap>
    <sql id="Base_Column_List">
        id, movieName, MOVIE_ID, createTime, modifiedTime
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from movie
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from movie
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from movies.movie
        where id = #{id}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jackiedeng.movies.pojo.Movie"
            useGeneratedKeys="true">
        insert into movie (movieName, MOVIE_ID, createTime,
                           modifiedTime)
        values (#{movieName,jdbcType=VARCHAR}, #{movieId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{modifiedTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jackiedeng.movies.pojo.Movie"
            useGeneratedKeys="true">
        insert into movie
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="movieName != null">
                movieName,
            </if>
            <if test="movieId != null">
                MOVIE_ID,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="modifiedTime != null">
                modifiedTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="movieName != null">
                #{movieName,jdbcType=VARCHAR},
            </if>
            <if test="movieId != null">
                #{movieId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jackiedeng.movies.pojo.Movie">
        update movie
        <set>
            <if test="movieName != null">
                movieName = #{movieName,jdbcType=VARCHAR},
            </if>
            <if test="movieId != null">
                MOVIE_ID = #{MOVIE_ID,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedTime != null">
                modifiedTime = #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jackiedeng.movies.pojo.Movie">
        update movie
        set movieName    = #{moviename,jdbcType=VARCHAR},
            MOVIE_ID     = #{movieId,jdbcType=VARCHAR},
            createTime   = #{createtime,jdbcType=TIMESTAMP},
            modifiedTime = #{modifiedtime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!--通过主键修改数据-->
    <update id="update">
        update movies.movie
        <set>
            <if test="movieName != null and movieName != ''">
                movieName = #{movieName},
            </if>
            <if test="movieId != null and movieId != ''">
                MOVIE_ID = #{MOVIE_ID},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
            <if test="modifiedTime != null">
                modifiedTime = #{modifiedTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="queryById" parameterType="com.jackiedeng.movies.pojo.Movie"
            resultType="com.jackiedeng.movies.pojo.Movie">
        select *
        from movie
        where id = #{id}
    </select>
    <!--查询所有行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        SELECT m.id,
               m.movieName,
               i.id info,
               i.poster,
               i.introduce,
               i.director,
               i.actors,
               i.movieLength,
               i.release
        from movie m,
             movieinfo i
        where m.MOVIE_ID = i.id
        limit #{offset}, #{limit}
    </select>
</mapper>