<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jackiedeng.movies.mapper.RepositoryMapper">
    <resultMap type="com.jackiedeng.movies.pojo.Repository" id="RepositoryMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="schedule_id" column="schedule_id" jdbcType="INTEGER"/>
        <result property="reserve" column="reserve" jdbcType="INTEGER"/>
        <result property="seats" column="seats" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="RepositoryMap">
        select
            *
        from repository
        where id = #{id}
    </select>

    <!--分页查询所有-->
    <select id="queryAllByLimit" resultMap="RepositoryMap">
        select
            *
        from
            repository
        limit #{offset}, #{limit}
    </select>

    <!--新增一条数据-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into movies.repository(schedule_id, seats, reserve)
        values (#{schedule_id}, #{seats},#{reserve})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update movies.repository
        <set>
            <if test="schedule_id != null and schedule_id != ''">
                schedule_id = #{schedule_id},
            </if>
            <if test="seats != null and seats != ''">
                seats = #{seats},
            </if>
            <if test="reserve != null and reserve != ''">
                reserve = #{reserve},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from movies.users where id = #{id}
    </delete>

</mapper>