<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jackiedeng.movies.mapper.ScheduleMapper">
    <resultMap type="com.jackiedeng.movies.pojo.Schedule" id="ScheduleMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="movie_id" column="movie_id" jdbcType="INTEGER"/>
        <result property="cinema_id" column="cinema_id" jdbcType="INTEGER"/>
        <result property="room" column="room" jdbcType="VARCHAR"/>
        <result property="date" column="date" jdbcType="DATE"/>
        <result property="schedule" column="schedule" jdbcType="VARCHAR"/>
        <!-- movie-->
        <association property="movie" javaType="com.jackiedeng.movies.pojo.Movie">
            <id column="Info" property="id"></id>
            <result column="movieName" jdbcType="VARCHAR" property="movieName"/>
            <result column="MOVIE_ID" jdbcType="VARCHAR" property="movie_id"/>
            <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="modifiedTime" jdbcType="TIMESTAMP" property="modifiedTime"/>
        </association>
    </resultMap>


    <!--查询单个-->
    <select id="queryById" resultMap="ScheduleMap">
        select
            *
        from schedule
        where id = #{id}
    </select>


    <!--分页查询所有-->
    <select id="queryAllByLimit" resultMap="ScheduleMap">
        select
            s.*,m.movieName
        from
            schedule s
        inner join movie m
        on
         s.movie_id=m.movie_id
        limit #{offset}, #{limit}
    </select>
    <!--根据日期查询场次-->
    <select id="queryByDate" resultMap="ScheduleMap">
        select * from schedule where `date`=#{date} and `movie_id`=#{movie_id}
    </select>

    <!--新增一条数据-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into schedule(cinema_id, movie_id, schedule,room,date)
        values (#{cinema_id}, #{movie_id},#{schedule},#{room} ,#{date})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update movies.users
        <set>
            <if test="userName != null and userName != ''">
                userName = #{userName},
            </if>
            <if test="age != null and age != ''">
                age = #{age},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                phoneNumber = #{phoneNumber},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
            <if test="modifiedTime != null">
                modifiedTime = #{modifiedTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from schedule where id = #{id}
    </delete>
</mapper>