<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jackiedeng.movies.mapper.SeatMapper">
    <resultMap type="com.jackiedeng.movies.pojo.Seat" id="SeatMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="schedule_id" column="schedule_id" jdbcType="INTEGER"/>
        <result property="row" column="row" jdbcType="INTEGER"/>
        <result property="column" column="column" jdbcType="INTEGER"/>
        <result property="seatid" column="seatid" jdbcType="VARCHAR"/>
    </resultMap>

    <!--根据场次ID查询所有座位-->
    <select id="queryById" resultMap="SeatMap" resultType="com.jackiedeng.movies.pojo.Seat">
        select
        *
        from
        seats
        where seats.schedule_id= #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SeatMap" resultType="com.jackiedeng.movies.pojo.Seat">
        select
          *
        from
            seats
        limit #{offset}, #{limit}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" >
        insert into seats(schedule_id, `row`,`column`, seatid)
        values (#{schedule_id}, #{row}, #{column}, #{seatid})
    </insert>

    <!--通过主键修改数据-->
    <update id="update" >
        update seats
        <set>
            <if test="schedule_id != null and schedule_id != ''">
                and schedule_id = #{schedule_id},
            </if>
            <if test="row != null and row != ''">
                and row = #{row},
            </if>
            <if test="column != null and column != ''">
                and column = #{column},
            </if>
            <if test="seatid != null and seatid != ''">
                and seatid = #{seatid},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from seats where id = #{id}
    </delete>

    <!--批量插入-->
    <insert id="insertBatch">
        INSERT INTO seats
        (schedule_id, row,seatid)
        VALUES
        <foreach collection="list" item="seats" separator=",">
            (#{seats.schedule_id}, #{seats.row}, #{seats.seatid})
        </foreach>
    </insert>

    <select id="toInsert" resultType="integer" parameterType="list">
        select count(id) as count from seats WHERE seatid in
        <foreach collection="seatId" item="seatid" index="index" open="(" close=")" separator=",">
            #{seatid}
        </foreach>
    </select>

</mapper>