<component name="ArtifactManager">
  <artifact type="jar" name="SpringBootMovie:jar">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringBootMovie_jar</output-path>
    <root id="archive" name="SpringBootMovie.jar">
      <element id="module-output" name="SpringBootMovie" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/mysql/mysql-connector-java/8.0.18/mysql-connector-java-8.0.18.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/data/spring-data-keyvalue/2.1.12.RELEASE/spring-data-keyvalue-2.1.12.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/com/sun/istack/istack-commons-runtime/3.0.7/istack-commons-runtime-3.0.7.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/io/swagger/swagger-models/1.5.20/swagger-models-1.5.20.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/jvnet/staxex/stax-ex/1.8/stax-ex-1.8.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/spring-jdbc/5.1.11.RELEASE/spring-jdbc-5.1.11.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/data/spring-data-redis/2.1.12.RELEASE/spring-data-redis-2.1.12.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/dom4j/dom4j/2.1.1/dom4j-2.1.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/boot/spring-boot-starter-data-redis-reactive/2.1.10.RELEASE/spring-boot-starter-data-redis-reactive-2.1.10.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/glassfish/jaxb/jaxb-runtime/2.3.1/jaxb-runtime-2.3.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/mybatis/mybatis-spring/2.0.1/mybatis-spring-2.0.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/javax/xml/bind/jaxb-api/2.3.1/jaxb-api-2.3.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/boot/spring-boot-starter-aop/2.1.10.RELEASE/spring-boot-starter-aop-2.1.10.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/apache/tomcat/embed/tomcat-embed-el/9.0.27/tomcat-embed-el-9.0.27.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/jboss/jandex/2.0.5.Final/jandex-2.0.5.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/aspectj/aspectjweaver/1.9.4/aspectjweaver-1.9.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/javax/validation/validation-api/2.0.1.Final/validation-api-2.0.1.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/io/projectreactor/reactor-core/3.2.12.RELEASE/reactor-core-3.2.12.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/mybatis/mybatis/3.4.5/mybatis-3.4.5.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/com/fasterxml/jackson/module/jackson-module-parameter-names/2.9.10/jackson-module-parameter-names-2.9.10.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/glassfish/jaxb/txw2/2.3.1/txw2-2.3.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/boot/spring-boot-starter-data-redis/2.1.10.RELEASE/spring-boot-starter-data-redis-2.1.10.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/ch/qos/logback/logback-core/1.2.3/logback-core-1.2.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/apache/logging/log4j/log4j-api/2.11.2/log4j-api-2.11.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/antlr/antlr/2.7.7/antlr-2.7.7.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/hibernate/validator/hibernate-validator/6.0.18.Final/hibernate-validator-6.0.18.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/boot/spring-boot-starter-jdbc/2.1.10.RELEASE/spring-boot-starter-jdbc-2.1.10.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/spring-web/5.1.11.RELEASE/spring-web-5.1.11.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/apache/commons/commons-lang3/3.5/commons-lang3-3.5.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/javax/persistence/javax.persistence-api/2.2/javax.persistence-api-2.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/com/auth0/java-jwt/3.4.0/java-jwt-3.4.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/commons-logging/commons-logging/1.2/commons-logging-1.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="C:/Program Files/Java/jdk1.8.0_221/lib/jconsole.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/ch/qos/logback/logback-classic/1.2.3/logback-classic-1.2.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/apache/tomcat/embed/tomcat-embed-core/9.0.27/tomcat-embed-core-9.0.27.jar" path-in-jar="/" />
      <element id="extracted-dir" path="C:/Program Files/Java/jdk1.8.0_221/lib/tools.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/spring-webmvc/5.1.11.RELEASE/spring-webmvc-5.1.11.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/io/springfox/springfox-swagger-common/2.9.2/springfox-swagger-common-2.9.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/io/lettuce/lettuce-core/5.1.8.RELEASE/lettuce-core-5.1.8.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/javax/activation/javax.activation-api/1.2.0/javax.activation-api-1.2.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/com/vaadin/external/google/android-json/0.0.20131108.vaadin1/android-json-0.0.20131108.vaadin1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/data/spring-data-commons/2.1.12.RELEASE/spring-data-commons-2.1.12.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/spring-aspects/5.1.11.RELEASE/spring-aspects-5.1.11.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/io/springfox/springfox-spi/2.9.2/springfox-spi-2.9.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/com/fasterxml/jackson/core/jackson-annotations/2.9.10/jackson-annotations-2.9.10.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/apache/shiro/shiro-crypto-core/1.4.0/shiro-crypto-core-1.4.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/spring-jcl/5.1.11.RELEASE/spring-jcl-5.1.11.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/redis/clients/jedis/2.9.3/jedis-2.9.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/javassist/javassist/3.23.2-GA/javassist-3.23.2-GA.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/boot/spring-boot-devtools/2.1.10.RELEASE/spring-boot-devtools-2.1.10.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/spring-context-support/5.1.11.RELEASE/spring-context-support-5.1.11.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/apache/shiro/shiro-cache/1.4.0/shiro-cache-1.4.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/mybatis/spring/boot/mybatis-spring-boot-starter/1.3.1/mybatis-spring-boot-starter-1.3.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/com/alibaba/fastjson/1.2.51/fastjson-1.2.51.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/spring-aop/5.1.11.RELEASE/spring-aop-5.1.11.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/io/netty/netty-common/4.1.43.Final/netty-common-4.1.43.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/apache/shiro/shiro-lang/1.4.0/shiro-lang-1.4.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/apache/commons/commons-pool2/2.6.2/commons-pool2-2.6.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/io/springfox/springfox-schema/2.9.2/springfox-schema-2.9.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/com/zaxxer/HikariCP/3.2.0/HikariCP-3.2.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/apache/logging/log4j/log4j-to-slf4j/2.11.2/log4j-to-slf4j-2.11.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/javax/transaction/javax.transaction-api/1.3/javax.transaction-api-1.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/net/bytebuddy/byte-buddy/1.9.16/byte-buddy-1.9.16.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/apache/shiro/shiro-event/1.4.0/shiro-event-1.4.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/apache/shiro/shiro-config-core/1.4.0/shiro-config-core-1.4.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/apache/shiro/shiro-core/1.4.0/shiro-core-1.4.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/com/alibaba/druid/1.0.29/druid-1.0.29.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/spring-oxm/5.1.11.RELEASE/spring-oxm-5.1.11.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/plugin/spring-plugin-metadata/1.2.0.RELEASE/spring-plugin-metadata-1.2.0.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/io/netty/netty-buffer/4.1.43.Final/netty-buffer-4.1.43.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/spring-core/5.1.11.RELEASE/spring-core-5.1.11.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/com/google/guava/guava/20.0/guava-20.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/apache/shiro/shiro-spring/1.4.0/shiro-spring-1.4.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/com/fasterxml/jackson/core/jackson-databind/2.9.5/jackson-databind-2.9.5.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/dom4j/dom4j/1.1/dom4j-1.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/commons-codec/commons-codec/1.11/commons-codec-1.11.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/io/swagger/swagger-annotations/1.5.20/swagger-annotations-1.5.20.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/commons-cli/commons-cli/1.4/commons-cli-1.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/boot/spring-boot-starter-tomcat/2.1.10.RELEASE/spring-boot-starter-tomcat-2.1.10.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/boot/spring-boot/2.1.10.RELEASE/spring-boot-2.1.10.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/io/springfox/springfox-core/2.9.2/springfox-core-2.9.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/boot/spring-boot-starter-json/2.1.10.RELEASE/spring-boot-starter-json-2.1.10.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/junit/junit/4.12/junit-4.12.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/apache/tomcat/tomcat-annotations-api/9.0.27/tomcat-annotations-api-9.0.27.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/apache/shiro/shiro-web/1.4.0/shiro-web-1.4.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/commons-collections/commons-collections/3.2.2/commons-collections-3.2.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/plugin/spring-plugin-core/1.2.0.RELEASE/spring-plugin-core-1.2.0.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/apache/shiro/shiro-crypto-cipher/1.4.0/shiro-crypto-cipher-1.4.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/spring-beans/5.1.11.RELEASE/spring-beans-5.1.11.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/hamcrest/hamcrest-core/1.3/hamcrest-core-1.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/reactivestreams/reactive-streams/1.0.3/reactive-streams-1.0.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/hibernate/hibernate-core/5.3.13.Final/hibernate-core-5.3.13.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/io/netty/netty-transport/4.1.43.Final/netty-transport-4.1.43.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/crazycake/shiro-redis/3.1.0/shiro-redis-3.1.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/com/puppycrawl/tools/checkstyle/8.3/checkstyle-8.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/apache/tomcat/embed/tomcat-embed-websocket/9.0.27/tomcat-embed-websocket-9.0.27.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/com/fasterxml/classmate/1.4.0/classmate-1.4.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/antlr/antlr4-runtime/4.7/antlr4-runtime-4.7.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/hibernate/common/hibernate-commons-annotations/5.0.4.Final/hibernate-commons-annotations-5.0.4.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/com/sun/xml/fastinfoset/FastInfoset/1.2.15/FastInfoset-1.2.15.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/javax/annotation/javax.annotation-api/1.3.2/javax.annotation-api-1.3.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/io/netty/netty-codec/4.1.43.Final/netty-codec-4.1.43.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/com/fasterxml/jackson/datatype/jackson-datatype-jsr310/2.9.10/jackson-datatype-jsr310-2.9.10.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/com/fasterxml/jackson/core/jackson-core/2.9.10/jackson-core-2.9.10.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/io/netty/netty-handler/4.1.43.Final/netty-handler-4.1.43.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/boot/spring-boot-starter/2.1.10.RELEASE/spring-boot-starter-2.1.10.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/spring-context/5.1.11.RELEASE/spring-context-5.1.11.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/com/fasterxml/jackson/datatype/jackson-datatype-jdk8/2.9.10/jackson-datatype-jdk8-2.9.10.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/jboss/logging/jboss-logging/3.3.3.Final/jboss-logging-3.3.3.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/mapstruct/mapstruct/1.2.0.Final/mapstruct-1.2.0.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/slf4j/jul-to-slf4j/1.7.29/jul-to-slf4j-1.7.29.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/io/netty/netty-resolver/4.1.43.Final/netty-resolver-4.1.43.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/boot/spring-boot-starter-web/2.1.10.RELEASE/spring-boot-starter-web-2.1.10.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/data/spring-data-jpa/2.1.12.RELEASE/spring-data-jpa-2.1.12.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/slf4j/slf4j-api/1.7.29/slf4j-api-1.7.29.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/boot/spring-boot-autoconfigure/2.1.10.RELEASE/spring-boot-autoconfigure-2.1.10.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/io/springfox/springfox-swagger2/2.9.2/springfox-swagger2-2.9.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/spring-expression/5.1.11.RELEASE/spring-expression-5.1.11.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/spring-tx/5.1.11.RELEASE/spring-tx-5.1.11.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/apache/shiro/shiro-crypto-hash/1.4.0/shiro-crypto-hash-1.4.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/boot/spring-boot-starter-logging/2.1.10.RELEASE/spring-boot-starter-logging-2.1.10.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/yaml/snakeyaml/1.23/snakeyaml-1.23.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/io/springfox/springfox-spring-web/2.9.2/springfox-spring-web-2.9.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/mybatis/spring/boot/mybatis-spring-boot-autoconfigure/1.3.1/mybatis-spring-boot-autoconfigure-1.3.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/net/sf/saxon/Saxon-HE/9.8.0-4/Saxon-HE-9.8.0-4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/commons-beanutils/commons-beanutils/1.9.3/commons-beanutils-1.9.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/spring-orm/5.1.11.RELEASE/spring-orm-5.1.11.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/apache/shiro/shiro-config-ogdl/1.4.0/shiro-config-ogdl-1.4.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/org/springframework/boot/spring-boot-starter-data-jpa/2.1.10.RELEASE/spring-boot-starter-data-jpa-2.1.10.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="F:/maven_rep_hrshare/maven_rep/io/springfox/springfox-swagger-ui/2.9.2/springfox-swagger-ui-2.9.2.jar" path-in-jar="/" />
    </root>
  </artifact>
</component>